*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    position: absolute;
	width: 100vw;
	height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}
p{
    align-items: center;
    justify-content: center;
    width: 50vw;
    position: absolute;
    font-size:54px;
    font-style: italic;
    color: gold;
}
img{
    
    height: 99%;
    object-fit: cover;
    opacity: 0.5;
}
@media (orientation:landscape){
    div{
        width: 40vw;
    }
}